<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Guesbook EJS</a>
    <div class="left d-flex flex-row">
      <ul class="ml-2 navbar-nav">
        <li class="nav-item"><a href="/" class="nav-link">Inicio</a></li>
        <li class="nav-item">
          <a href="/new-entry" class="nav-link">Nueva Entrada</a>
        </li>
      </ul>
      <form class="d-flex ml-2">
        <input
          class="form-control me-2 mr-2 p-1 my-auto"
          type="search"
          placeholder="Search"
          aria-label="Search"
          style="height: 34px !important"
        />
        <button class="btn btn-outline-success my-auto px-2 py-1" type="submit">
          Search
        </button>
      </form>
    </div>
  </div>
</nav>
